@import "fonts";
@import "nullstyle";
@import "variables";
@import "mixsins";

html,
body {
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
	color: #000;
	background-color: $color1;
}

/*--------------------------------Common--------------------------------*/
.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1197px;

    @include table {
        padding-right: 20px;
        padding-left: 20px;
        max-width: 767px;
    }

    @include mobile {
        padding-right: 10px;
        padding-left: 10px;
        max-width: 100%;
    }
}

.global-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

.flex {
	display: flex;
}

.vl-center {
	display: flex;
	align-items: center;
}

.title-1 {
	font-size: 40px;
	line-height: (30/40);
}

.title-2 {
	font-size: 36px;
	line-height: (30/36);
	color: $color3;
	text-transform: uppercase;
}

.title-2--line {
	position: relative;
	padding-bottom: 29px;
	@extend .title-2;

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: 182px;
		background-color: $color2;
	} 	
}

.text {
	font-size: 18px;
	line-height: (30/18);
	color: $color3;
}

/*--------------------------------Other--------------------------------*/
@import "./components/btns";
@import "./components/blocks.scss";
@import "./components/header";
@import "./components/_footer.scss";

.over-header {
	position: relative;
	font-family: $font-family2;
	font-size: 14px;
	color: $color3;
	background-color: #e9e9e9;
	box-shadow: 0 0 9px rgba($color1, 0.51);

	.container,
	&__item {
		display: flex;
		align-items: center;
	}

	.container {
		height: 46px;
	}

	&__item {
		margin-right: 36px;

		&:first-child {
			margin-right: auto;
		}

		&:last-child {
			margin-right: 0;
		}

		&-tel {
			white-space: nowrap;
		}
	}

	&__ic {
		display: inline-block;
		margin-right: 9px;
	}
}

.products-container {
	position: relative;
	padding-top: 105px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: -110px;
		width: 100%;
		height: 300px;
		background-image: url('./../../img/volna-white.png');
		background-repeat: no-repeat;
		background-size: 101% auto;
		background-position: 0 0;
	}
}

.products {
	&__title {
		margin-bottom: 60px;
	}
}

.portfolio {
	margin-top: 120px;
	padding-bottom: 68px;

	.container {
		display: flex;
		flex-direction: column;
	}

	&__text {
		margin-top: 32px;
	}

	&__img-list {
		position: relative;
		display: grid;
		grid-template-columns: repeat(4, 25%);
		margin-top: 55px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#000, 0.23);
		}
	}

	&__img-item {
		padding-top: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right top;
	}

	&__btn {
		margin: 72px auto 0;
	}
}

.advantages {
	padding: 70px 0 0;

	&__list-wrap {
		margin-top: 15px;
		padding: 60px 0 235px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -95px -25px 0;
	}

	&__item {
		display: flex;
		align-items: center;
		margin: 0 95px 25px 0;
		padding: 24px 10px 15px 24px;
		width: calc(50% - 95px);
		min-height: 126px;
		background-color: $color1;
		box-shadow: 0 0 18px rgba($color2, 0.47);

		&-img {
			margin-right: 34px;
			width: 85px;
			height: 70px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
			}
		}

		&-name {
			font-size: 22.25px;
			line-height: 1.25;
			font-weight: 700;
			color: $color2;
		}

		&-text {
			font-size: 19.35px;
			color: #000;
		}
	}
}
