@import "fonts";
@import "nullstyle";
@import "variables";
@import "mixsins";

html,
body {
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
	color: #000;
	background-color: $color1;
}

/*--------------------------------Common--------------------------------*/
.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1197px;

    @include table {
        padding-right: 20px;
        padding-left: 20px;
        max-width: 767px;
    }

    @include mobile {
        padding-right: 30px;
        padding-left: 30px;
        max-width: 100%;
    }
}

.global-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: auto;
}

.flex {
	display: flex;
}

.vl-center {
	display: flex;
	align-items: center;
}

.fw-bold {
	font-weight: 700
}

.color-select {
	color: $color2;
}

.title-1 {
	font-size: 40px;
	line-height: (30/40);

	@include mobile {
		font-size: 30px;
	}
}

.title-2 {
	font-size: 36px;
	line-height: (30/36);
	color: $color3;
	text-transform: uppercase;

	@include mobile {
		font-size: 20px;
		line-height: (31/20);
	}
}

.title-1 {
	font-size: 26px;
	line-height: (30/26);
}

.title-2--line {
	position: relative;
	padding-bottom: 29px;
	@extend .title-2;

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: 182px;
		background-color: $color2;
	} 	
}

.text {
	font-size: 18px;
	line-height: (30/18);
	color: $color3;

	@include mobile {
		font-size: 16px;
		line-height: (25/16);
	}
}

/*--------------------------------Other--------------------------------*/
@import "./components/btns";
@import "./components/blocks.scss";
@import "./components/header";
@import "./components/_footer.scss";

.over-header {
	position: relative;
	font-family: $font-family2;
	font-size: 14px;
	color: $color3;
	background-color: #e9e9e9;
	box-shadow: 0 0 9px rgba($color1, 0.51);

	.container,
	&__item {
		display: flex;
		align-items: center;
	}

	.container {
		height: 46px;
	}

	&__item {
		margin-right: 36px;

		&:first-child {
			margin-right: auto;
		}

		&:last-child {
			margin-right: 0;
		}

		&-tel {
			white-space: nowrap;
		}
	}

	&__ic {
		display: inline-block;
		margin-right: 9px;
	}

	@include table {
		display: none;
	}
}

.global-wrap {
	.bread-crumb {
		margin: 31px 0 71px;
	}
}

.portfolio {
	margin-top: 120px;
	padding-bottom: 68px;

	.container {
		display: flex;
		flex-direction: column;
	}

	&__text {
		margin-top: 32px;
	}

	&__slider {
		width: 100%;

		&-prev,
		&-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			opacity: 0.8;
		}

		&-prev {
			left: 9.5px;
		}

		&-next {
			right: 9.5px;
			transform: scaleX(-1);
		}
	}

	.swiper-wrapper {
		position: relative;
		display: grid;
		grid-template-columns: repeat(4, 25%);
		margin-top: 55px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#000, 0.23);
		}
	}

	&__slide {
		position: relative;
		padding-top: 100%;
		
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right top;
		}
	}

	&__btn {
		margin: 72px auto 0;
	}

	@include mobile {
		margin-top: 96px;
		padding-bottom: 67px;

		.container {
			display: flex;
			flex-direction: column;
		}
	
		&__text {
			margin-top: 32px;
		}

		&__slider {
			margin: 34px -30px 0;
			width: auto;
		}
	
		.swiper-wrapper {
			display: -webkit-box;
			grid-template-columns: repeat(4, 25%);
			margin-top: 0;
	
			&::before {
				display: none;
			}
		}
	
		&__slide {
			padding-top: 0;
			height: 249px;
			width: auto;
				
			img {
				object-position: center;
			}
		}
	
		&__btn {
			margin: 50px auto 0;
		}
	}
}

.advantages {
	padding: 70px 0 235px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;

	&__list-wrap {
		margin-top: 75px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -95px -25px 0;
	}

	&__item {
		display: flex;
		align-items: center;
		margin: 0 95px 25px 0;
		padding: 24px 10px 15px 24px;
		width: calc(50% - 95px);
		min-height: 126px;
		background-color: $color1;
		box-shadow: 0 0 18px rgba($color2, 0.47);

		&-img {
			margin-right: 34px;
			width: 85px;
			height: 70px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
			}
		}

		&-name {
			font-size: 22.25px;
			line-height: 1.25;
			font-weight: 700;
			color: $color2;
		}

		&-text {
			font-size: 19.35px;
			color: #000;
		}
	}

	@include table {
		padding: 50px 0 185px;

		&__list-wrap {
			margin-top: 36px;
		}

		&__list {
			flex-direction: column;
			margin: 0;
		}

		&__item {
			display: flex;
			align-items: center;
			margin: 0 0 27px 0;
			padding: 11px 10px 11px 24px;
			min-height: 97px;
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}

			&-img {
				margin-right: 24px;
				width: 85px;
    			max-width: 51px;
   				height: 60px;
			}

			&-name {
				font-size: 17.19px;
			}

			&-text {
				font-size: 14.95px;
			}
		}
	}

	@include mobile {
		padding: 20px 0 149px;
	}
}

.main-page {
	.products-container {
		position: relative;
		z-index: 1;
		padding-top: 105px;
	
		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			z-index: -1;
			width: 100%;
		}
	
		&::before {
			top: -110px;
			height: 300px;
			background-image: url('./../../img/volna-white.png');
			background-repeat: no-repeat;
			background-size: 101% auto;
			background-position: 0 0;
		}
	
		&::after {
			display: none;
			top: -70px;
			width: 100%;
			height: 150px;
			background-color: #fff;
		}

		@include table {
			padding-top: 0;
		}
	
		@include tel {
			.main-page & {
				padding-top: 0;
	
				&::after {
					display: block;
				}
			}	
		}
	}

	.products {
		&__title {
			margin-bottom: 60px;
		}
	}

	footer {
		margin-top: -127px;

		@include mobile {
			margin-top: -45px;
		}

		@include tel {
			margin-top: -87px;
		}
	}
}

.cupeli-page {
	.products {
		background-position: 100% 98.5%;

		&__title {
			margin-bottom: 48px;
		}

		&__btn {
			margin-top: 150px;
		}
	}


}
