@import "./../variables";

%comonStyle {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

%smallBtn {
	@extend %comonStyle;
	padding: 0 28px;
	min-width: 163px; 
	height: 49px;
	line-height: 49px;
}

.btn-bg--light {
	@extend %smallBtn; 
	font-size: 22.7px;
	font-weight: 700;
	color: $color1;
	background-color: $color2;
}

.btn-bg--white {
	@extend %smallBtn; 
	font-size: 21px;
	font-weight: 300;
	color: $color3;
	background-color: $color1;
	box-shadow: 0 0 7px rgba(#000, 0.51);
}