@import "./../variables";

header {
	height: 112px;
	background-color: $color3;

	.container {
		display: flex;
		align-items: center;
	}

	@at-root .#{&} {
		&__logo {
			margin-right: auto;
		}

		&__sci {
			display: flex;
			align-items: center;

			&-item {
				margin-right: 17px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}